<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <style>
        @keyframes glowing-border {
            0% { box-shadow: 0 0 5px #0aafff, 0 0 10px #0aafff; } /* Initial subtle glow (blue) */
            50% { box-shadow: 0 0 15px #0aafff, 0 0 30px #0aafff, 0 0 45px #0aafff; } /* Brighter glow */
            100% { box-shadow: 0 0 5px #0aafff, 0 0 10px #0aafff; } /* Back to initial */
        }

        .glow-border {
            animation: glowing-border 2s infinite alternate; /* 2s duration, infinite loop, alternates direction */
        }
    </style>
</head>
<body class="bg-slate-900 flex justify-center items-center min-h-screen">
    <div class ="w-full max-w-md text-white flex flex-col items-center p-10 border-2 border-slate-800 rounded-xl glow-border">
        <h3 class ="text-3xl mb-5 font-mono italic"> Create Account</h3>
<form action="/register" method="post" class="flex flex-col gap-4">
    <input class =" px-3 py-2  outline-none bg-transparent border-2 border-zinc-800 rounded-lg" type ="text" placeholder ="Name" name="name">
     <input class =" px-3 py-2  outline-none bg-transparent border-2 border-zinc-800 rounded-lg" type ="text" placeholder ="Username" name="username">
      <input class =" px-3 py-2  outline-none bg-transparent border-2 border-zinc-800 rounded-lg"  type ="number" placeholder ="Age" name="age">
       <input class =" px-3 py-2  outline-none bg-transparent border-2 border-zinc-800 rounded-lg"  type ="email" placeholder ="Email" name="email">
        <input class =" px-3 py-2  outline-none bg-transparent border-2 border-zinc-800 rounded-lg" type ="password" placeholder ="Password" name="password">
        <input class =" px-3 py-2  outline-none bg-blue-800 border-2 border-blue-800 rounded-lg" type ="submit" value="Create Account">
</form>
<h3 class ="text-2xl mt-5 mb-5 font-mono italic">Already have an account</h3>
<a class =" px-3 py-2  outline-none bg-red-800 border-2 border-red-800 rounded-lg" href="/login"> Login</a>
    </div>
</body>
</html>